In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("iris.csv")

In [3]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [4]:
df.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [5]:
df.Species.unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [6]:
mapping = {'Iris-setosa':1, 'Iris-versicolor':2, 'Iris-virginica':3}

In [7]:
df['Species'] = df['Species'].map(mapping)

In [8]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0   1            5.1           3.5            1.4           0.2        1
1   2            4.9           3.0            1.4           0.2        1
2   3            4.7           3.2            1.3           0.2        1
3   4            4.6           3.1            1.5           0.2        1
4   5            5.0           3.6            1.4           0.2        1

In [9]:
df.columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [11]:
X = df[['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm']]
y = df['Species']

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.2)

In [15]:
from sklearn.naive_bayes import GaussianNB

In [17]:
model = GaussianNB()
model.fit(X_train,y_train)

GaussianNB()

In [19]:
y_pred = model.predict(X_test)

In [20]:
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score, precision_score, recall_score, f1_score

In [21]:
confusion_matrix(y_test,y_pred)

array([[13,  0,  0],
       [ 0,  8,  2],
       [ 0,  2,  5]], dtype=int64)

In [28]:
x = classification_report(y_test,y_pred)
print(x)

              precision    recall  f1-score   support

           1       1.00      1.00      1.00        13
           2       0.80      0.80      0.80        10
           3       0.71      0.71      0.71         7

    accuracy                           0.87        30
   macro avg       0.84      0.84      0.84        30
weighted avg       0.87      0.87      0.87        30

In [26]:
accuracy_score(y_test,y_pred)

0.8666666666666667

In [31]:
tp, fn, fp, tn = confusion_matrix(y_test,y_pred,labels=[1,0]).reshape(-1)

In [33]:
print('\nAccuracy: {:.2f}'.format(accuracy_score(y_test,y_pred)))
print('Error Rate: ',(fp+fn)/(tp+tn+fn+fp))
print('Sensitivity (Recall or True positive rate) :',tp/(tp+fn))
print('Specificity (True negative rate) :',tn/(fp+tn))
print('Precision (Positive predictive value) :',tp/(tp+fp))
print('False Positive Rate :',fp/(tn+fp))

Accuracy: 0.87
Error Rate:  0.0
Sensitivity (Recall or True positive rate) : 1.0
Specificity (True negative rate) : nan
Precision (Positive predictive value) : 1.0
False Positive Rate : nan

<ipython-input-33-feb85320644b>:4: RuntimeWarning: invalid value encountered in longlong_scalars
  print('Specificity (True negative rate) :',tn/(fp+tn))
<ipython-input-33-feb85320644b>:6: RuntimeWarning: invalid value encountered in longlong_scalars
  print('False Positive Rate :',fp/(tn+fp))